[submodule "Lemon/vendor/spdlog"]
	path = Lemon/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lemon/vendor/glfw"]
	path = Lemon/vendor/glfw
	url = https://github.com/lennon2298/glfw
[submodule "Lemon/vendor/glm"]
	path = Lemon/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Lemon/vendor/imgui"]
	path = Lemon/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
